// TODO: Refaire boutons pour plusieurs styles
.btn {
  user-select: none;
  color: var(--opaque-secondary-label-color);

  background: none;
  border: none;
  outline: none;

  font-family: SF Pro;
  font-size: 1.6rem;
  font-weight: 300;

  height: 28px;
  aspect-ratio: 1/1;
  border-radius: 5px;

  &:hover {
    background: #ffffff0d;
  }
}

#Explorer {
  margin-left: 24px;
  list-style: none;

  display: flex;
  flex-flow: column nowrap;
  row-gap: 8px;

  .Explorer__Item {
    cursor: pointer;

    font-size: 1.3rem;
    color: var(--vibrant-label-color);

    .Item__Icon {
      margin-right: 5px;

      &.dir {
        color: var(--vibrant-tint-default);
      }

      &.file {
        color: var(--vibrant-secondary-label-color);
      }
    }
  }
}
